{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-sh"],
  "overrides": [
    {
      "files": ".husky/**",
      "options": {
        "plugins": []
      }
    },
    {
      "files": "Dockerfile",
      "options": {
        "plugins": []
      }
    }
  ]
}

